@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf") format("truetype");
}

* {
  font-family: "OpenSans", sans-serif !important;
}

.list-group a {
  background-color: #f6f9fc;
  margin-bottom: 3px;
  border: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  cursor: pointer;
}

.list-group a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.navbar {
  background-color: #5e72e4;
}

.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.navbar-brand {
  cursor: pointer;
}

.nav-link:focus,
.nav-link:hover {
  color: #fff;
}

.image-overlay {
  background-image: url(../img/banner/profile-cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  position: relative;
  width: 100%;
}

.image-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
  width: 100%;
  height: 100%;
  opacity: .9;
}

.image-overlay h1{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  padding: 24px;
}

.navbar{
  min-height: 77px;
}

.card-top{
  margin-top: -3rem;
}